/* header.module.css */

.animated-hover {
    transition: color 0.3s ease;
  }
  
  .animated-hover:hover {
    transform: scale(1.1);
    text-decoration: underline;
   
  }
  
  .nav-item:hover {
    transform: scale(2.1);
    text-decoration: underline;
  }
  
  .nav-link {
    transition: color 0.3s;
  }
  
  